body{
	background: rgb(242,22,67);
	color: white;
	
}
	
header {
	text-align: center;
      background: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/banner-1732847_960_720.jpg");
      background-size: cover;
      color: white;
}
a{
	color:rgb(22,20,26)
}
 .top {
      display: inline;
      padding: 0px 10px 0px 10px;
 }
a{
color: rgb(210,210,210)
}
h2{
color:rgb(210,210,210)
}

article{
	max-width:500px;
	padding: 20px;
	margin: 0 auto
}
